common:
  account_id: <deploy-target-aws-account-id>
  region: <deploy-target-region>

route53:
  zone: <existed-hosted-zone-name>
  zone_id: <existed-hosted-zone-id>
  sub_domain: <hostname-of-sub-domain (optional)>
